:root {
  font-size: 62.5%;
  --fs-h1: clamp(2.4rem, 2.24rem + 0.8vw, 3.2rem);
  --fs-h2: clamp(1.8rem, 1.6rem + 1vw, 2.8rem);
  --fs-h3: clamp(1.6rem, 1.44rem + 0.8vw, 2.4rem);
  --fs-h4: clamp(1.4rem, 1.28rem + 0.6vw, 2rem);
  --fs-h5: clamp(1.2rem, 1.12rem + 0.4vw, 1.6rem);
  --fs-h6: clamp(0.8rem, 0.72rem + 0.4vw, 1.2rem);
}
/* ===========================================Text=========================================== */
body {
  font-family: "Inter", sans-serif;
  background-color: #ededed;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
}
h1 > span {
  color: #ffaf01;
}
header > button {
  font-size: var(--fs-h4);
}
.full-name {
  font-size: var(--fs-h3);
  text-align: center;
  font-weight: 500;
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

/* ===========================================Header=========================================== */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  align-items: center;
}
header > button {
  border-radius: 1.5rem;
  min-width: 15rem;
  text-align: center;
  padding: 1rem 0;
  color: #ffffff;
  font-weight: 700;
}
.save-button {
  background-image: linear-gradient(to right, #ffc700, #ff5c00);
  cursor: pointer;
  display: none;
}
.download-button {
  background-color: black;
  cursor: pointer;
}
/* ===========================================File name=========================================== */
.file-name-div input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
}

.file-name-div {
  margin-top: 7.5rem;
  position: relative;
  min-width: 40rem;
  text-align: center;
  height: 6rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right, #ffc700, #ff5c00);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Fix autofill background remove */
#fileName {
  flex-grow: 3;
  text-align: center;
  min-height: 6rem;
  border-radius: 1.5rem;
  color: white;
  font-size: var(--fs-h4);
  font-weight: 700;
}
.edit_svg {
  width: 3rem;
  height: 3rem;
  flex-grow: 1;
  flex-basis: 2.4rem;
  cursor: pointer;
}
.file-name-label {
  display: block;
  opacity: 0%;
  width: min-content;
  flex-grow: 1;
  flex-basis: 2.4rem;
}
/* ===========================================Edit section=========================================== */
.main-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-flex > :first-child {
  margin: 0 3rem;
}
.main-flex > :last-child {
  margin: 7.5rem 3rem 10rem 3rem;
}
.form {
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 1rem 2rem 2.5rem 2rem;
  border-radius: 1rem;
}
.form > div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.form > div input {
  background-color: #ededed;
  border-radius: 1rem;
  width: 75%;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  font-size: var(--fs-h5);
}
.form > .text-area {
  align-items: start;
}
.form > div textarea {
  background-color: #ededed;
  border-radius: 1rem;
  width: 75%;
  height: 10rem;
  padding: 0.5rem 1rem;
  font-size: var(--fs-h5);
}

.form > div label {
  display: inline-block;
  width: 25%;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.button-add-section {
  font-size: 1.4rem;
  color: #ffaf01;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form--add {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-hidden {
  display: none;
}
#description {
  overflow-wrap: break-word;
}
.add-section {
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.add-experience {
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.added-section {
  background-color: #ededed;
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.button-add {
  font-size: 1.4rem;
  color: #ffaf01;
  border: 1px dashed #ffaf01;
  text-align: center;
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
.cancel-and-save {
  position: relative;
  display: flex;
  justify-content: end;
  align-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.cancel-and-save > button {
  font-size: var(--fs-h5);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  width: 8rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.button-cancel {
  background-color: black;
}
.button-save,
.button-update {
  background-image: linear-gradient(to right, #ffc700, #ff5c00);
}
.button-delete {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  background-color: red;
}
/* ===========================================Preview section=========================================== */
.resume-window {
  background-color: #ffffff;
  width: max(40vw, 50rem);
  height: max(calc(35vw / 0.71), 70.5rem);
}
.personal-preview > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0 auto 4rem auto;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.personal-preview > ul > li {
  flex-basis: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.personal-preview > ul > li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15rem;
}
.full-name {
  margin: 3rem 0;
}
.experience {
  width: 90%;
  margin: 0 auto;
}
.experience > h5 {
  font-weight: bold;
}
hr {
  border: none;
  height: 2px;
  background-color: black;
}
.passive_form,
.active_form {
  margin-top: 0.75rem;
}
.form_element > :first-child {
  font-weight: bold;
}
.form_element > :nth-child(2) {
  font-weight: 700;
}
/* ===========================================Media queries=========================================== */
@media (max-width: 34.3em) {
  /* Preview window */
  .main-flex > :first-child {
    margin: 0 1rem;
  }
  .main-flex > :last-child {
    margin: 7.5rem 1rem 10rem 1rem;
  }
  .resume-window {
    width: max(40vw, 40rem);
    height: max(calc(35vw / 0.71), 56.4rem);
  }
}

@media (max-width: 26.8em) {
  .file-name-div {
    min-width: 35rem;
  }
  .resume-window {
    width: max(40vw, 35rem);
    height: max(calc(35vw / 0.71), 49.3rem);
  }
  .full-name {
    margin: 2rem;
  }
  .personal-preview > ul {
    margin: 0 auto 2rem auto;
  }
  header {
    padding: 2rem 4rem;
  }
}
@media (max-width: 23.15em) {
  .file-name-div {
    min-width: 30rem;
  }
  .resume-window {
    width: max(40vw, 30rem);
    height: max(calc(35vw / 0.71), 42.25rem);
  }
  .main-flex > :last-child {
    margin: 3.5rem 1rem 5rem 1rem;
  }
  header {
    padding: 2rem 2rem;
  }
}

/* For mobile screens */
/* @media (max-width: ______) {
  .resume-window {
    width: max(40vw, 35rem);
    height: max(calc(35vw / 0.71), 40.9rem);
  }
} */
